[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
coincurve = "*"
cryptography = "*"
eciespy = "*"
requests = "*"

[dev-packages]
black = "*"
dill = "*"
exceptiongroup = "*"
importlib_metadata = "*"
isort = "==5.11.4"
pylint = "*"
pyre-check = "*"
pytest = "*"
tomli = "*"
wrapt = "*"
